@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');
@import './common/coolors.scss';
@import './common/generators.scss';

:root {
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-color: #3DCC74;
  --swiper-pagination-color: #3DCC74;
  --swiper-pagination-bullet-inactive-color: #144226;
  --swiper-pagination-bullet-inactive-opacity: 0.8;
}

*, html, body {
  scroll-behavior: smooth !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Onest', 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: $green3;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: $green4;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: $body-backgroundColor;
  transition: all 0.2s ease-in-out;
}

main {
  position: relative;
  visibility: hidden;

  #wpp {
    position: fixed;
    bottom: 20px;
    right: 5px;
    z-index: 2;

    img {
      width: 45px;
    }
  }

  #navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 30px;
    left: 50%;
    width: 280px;
    height: 34px;
    z-index: 2;
    background-color: $green4;
    border-radius: 20px;
    transform: translate(-50%, 0);

    a {
      @include font-style(1em, 'Open Sans', $green1);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      cursor: pointer;
      text-decoration: none;
      font-weight: bold;
      border: none;
      background-color: transparent;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.329);
      border-radius: 50%;
    }
  }
}

#switchThemeBtn {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
  font-size: 0.8em;
  padding: 8px 15px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;

  &:hover {
    outline: 1px solid $green1;
    transition: all 0.3s ease;
  }
}

footer {
  padding: 10px 20px 70px;
  
  p {
    @include font-style-p(0.8em, 'Open Sans');
    text-align: center;
  }
}

p, li, a {
  color: white;
}

.mode-light{
  color: black;
}

.mode-dark{
  color: white;
}

@import './sections/presentation.scss';
@import './sections/who-am.scss';
@import './sections/hard-skills.scss';
@import './sections/projects.scss';
@import './sections/contact.scss';
@import './common/start.scss';
@import './common/media-queries.scss';