@media screen and (max-width: 350px) {

  #switchThemeBtn {
    top: 30px;
    right: 10px;
    font-size: 0.6em;
    padding: 6px 8px;
  }

  #name {
    @include font-style(12px, 'Open Sans', white);
    padding: 10px;
    span {
      @include font-style(16px, 'Open Sans', $green3);
    }
  }

  #hard-skills-cards {
    .hard-skills-card {
      span {
        text-align: left;
        padding: 0px;
      }
    }
  }
}

@media screen and (min-height: 1200px) {
  #name {
    font-size: 30px;
    span {
      font-size: 52px;
    }
  }
}

@media screen and (min-width: 800px) { //versao desktop
  body {
    background-color: #111;
  }

  #name {
    @include font-style(26px, 'Open Sans', white);

    span {
      @include font-style(50px, 'Open Sans', $green3);
    }
  }

  #presentation-content {
    align-self: start;
    padding: 15px 25px;
  }

  #who-am {
    aside {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }

    .info {
      width: 47vw;
      margin-right: 7.5px;
      margin-left: 7.5px;
  
      &:hover {
        transform: scale(1.03);
      }

      p {
        font-size: 15px;
      }
    }
  }

  #hard-skills-cards {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);

    .hard-skills-card {
      span {
        @include font-style(0.8vw, 'Open Sans', white);
      }
    }
  }

  #hard-skills-certificates {
    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    img {
      width: 40vw;
      margin: 20px;
    }
  }

  #projects {
    aside {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0px 15px;
    }
  }

  .project {
    width: 42vw;

    img {
      height: 21vw;
    }
  }

  form {
    width: 50vw;
  }
}