#who-am {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;

  #who-am-title {
    @include font-style(1.5em, 'Open Sans', $green1);
    align-self: start;
    padding: 15px;
  }

  .info {
    width: 90vw;
    margin-bottom: 15px;
    padding: 10px 20px;
    border: 2px solid $green1;
    border-radius: 10px;

    &:hover {
      transform: scale(1.05);
    }

    h3 {
      margin-bottom: 10px;
      color: $green3;
    }

    p {
      word-wrap: break-word;
      text-align: justify;
    }
  }

}