@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: #111;
  padding: 10px;
}

main {
  padding-bottom: 100px;
}
main #navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 30px;
  left: 50%;
  width: 280px;
  height: 34px;
  z-index: 1;
  background-color: #144226;
  border-radius: 20px;
  transform: translate(-50%, 0);
}
main #navbar a {
  font-size: 1em;
  font-family: "Open Sans";
  color: #4dff91;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  border: none;
  background-color: transparent;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.329);
  border-radius: 50%;
}

p {
  color: white;
}

li {
  color: white;
}

a {
  color: white;
}

#presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

#presentation-title {
  font-size: 1.5em;
  font-family: "Open Sans";
  color: #4dff91;
  align-self: start;
  padding: 15px;
}

.flex-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  min-width: 240px;
  min-height: 300px;
  padding-top: 30px;
  background-color: black;
  border: 1px solid #4dff91;
  border-radius: 10px;
}

.circle {
  position: relative;
  background: #b0917c url("../images/foto-perfil.jpg") center center no-repeat scroll;
  background-size: cover;
  width: 160px;
  height: 160px;
  border-radius: 48%;
  margin-bottom: 20px;
  border: 2px solid white;
  box-shadow: 1px 2px 7px #4dff91;
  filter: brightness(1.3);
}
.circle:hover {
  box-shadow: 5px 5px 10px #04724D;
}

#name {
  font-size: 3vh;
  font-family: "Open Sans";
  color: white;
  background: #333 url("../images/gif-binarios.gif") center center no-repeat scroll;
  background-size: cover;
  padding: 10px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}
#name span {
  font-size: 4.5vh;
  font-family: "Open Sans";
  color: #3DCC74;
  text-shadow: 2px 2px 5px #04724D;
}

.presentation-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  font-weight: 500;
  margin: 5px 0px;
}
.presentation-buttons .link-social {
  font-size: 0.8em;
  font-family: "Open Sans";
  color: white;
  display: grid;
  place-items: center;
  text-align: center;
  text-decoration: none;
  max-width: 220px;
  width: 22vw;
  height: 30px;
  border: 1px solid white;
  border-radius: 3px;
}
.presentation-buttons .linkedin {
  color: #0097bd;
}
.presentation-buttons .linkedin:hover {
  background-color: #0097BD;
  color: white;
  transition: all 0.1s ease-out;
}
.presentation-buttons .github:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease-out;
}
.presentation-buttons .curriculum {
  cursor: pointer;
  color: #3DCC74;
  background-color: black;
}
.presentation-buttons .curriculum:hover {
  background-color: #04724D;
  color: white;
  transition: all 0.1s ease-out;
}

#presentation-content {
  font-size: 0.9em;
  font-family: "Open Sans";
  padding: 15px;
  text-align: justify;
}
#presentation-content h3 {
  font-size: 1.4em;
  font-family: "Open Sans";
  color: #3DCC74;
  margin-bottom: 15px;
}
#presentation-content ul li {
  list-style: none;
  font-size: 0.9em;
  margin-bottom: 15px;
  text-align: left;
}
#presentation-content ul li:nth-child(1)::before {
  content: "💻";
  margin-right: 10px;
}
#presentation-content ul li:nth-child(2)::before {
  content: "📚";
  margin-right: 10px;
}
#presentation-content ul li:nth-child(3)::before {
  content: "💡";
  margin-right: 10px;
}
#presentation-content ul li:nth-child(4)::before {
  content: "👨‍💻";
  margin-right: 10px;
}
#presentation-content p {
  line-height: 1.7;
  margin-bottom: 20px;
}

#who-am {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
#who-am #who-am-title {
  font-size: 1.5em;
  font-family: "Open Sans";
  color: #4dff91;
  align-self: start;
  padding: 15px;
}
#who-am .info {
  width: 90vw;
  margin-bottom: 15px;
  padding: 10px 20px;
  border: 2px solid #4dff91;
  border-radius: 10px;
}
#who-am .info:hover {
  transform: scale(1.05);
}
#who-am .info h3 {
  margin-bottom: 10px;
  color: #3DCC74;
}
#who-am .info p {
  word-wrap: break-word;
  text-align: justify;
}

#hard-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

#hard-skills-title {
  font-size: 1.5em;
  font-family: "Open Sans";
  color: #4dff91;
  align-self: start;
  padding: 15px;
}

#hard-skills-cards {
  display: grid;
  grid-template-rows: repeat(6, 1.2fr);
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}
#hard-skills-cards .hard-skills-card {
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  margin: 0px 5px 10px 5px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #4dff91;
}
#hard-skills-cards .hard-skills-card:hover img {
  filter: blur(5px);
}
#hard-skills-cards .hard-skills-card:hover p {
  opacity: 0;
}
#hard-skills-cards .hard-skills-card:hover span {
  visibility: visible;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1);
}
#hard-skills-cards .hard-skills-card img {
  width: 50%;
  transition: all 0.3s ease-in;
}
#hard-skills-cards .hard-skills-card p {
  font-size: 1em;
  font-family: "Open Sans";
  transition: all 0.3s ease-in;
}
#hard-skills-cards .hard-skills-card span {
  font-size: 0.6em;
  font-family: "Open Sans";
  color: white;
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
  text-align: center;
  font-weight: 700;
  opacity: 0;
  padding: 5px;
  transition: all 0.3s ease-in;
}

#hard-skills-certificates {
  width: 90vw;
}
#hard-skills-certificates h3 {
  align-self: flex-start;
  padding: 15px;
  color: #3DCC74;
}
#hard-skills-certificates p {
  font-size: 1em;
  font-family: "Open Sans";
  padding: 0px 15px;
}
#hard-skills-certificates img {
  display: block;
  width: 82vw;
  margin: 20px auto;
  border: 2px solid #04724D;
  border-radius: 5px;
}
#hard-skills-certificates img:hover {
  animation: zoom 0.5s forwards ease-in;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.15);
  }
}
#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

#projects-title {
  font-size: 1.5em;
  font-family: "Open Sans";
  color: #4dff91;
  align-self: start;
  padding: 15px;
}

.project {
  width: 90vw;
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid #4dff91;
  border-radius: 10px;
}
.project h3 {
  margin-bottom: 10px;
  color: #3DCC74;
}
.project img {
  display: block;
  width: 100%;
  height: 20vh;
  min-height: 150px;
  margin: 5px auto;
  border-radius: 6px;
}
.project .project-info {
  font-size: 0.7em;
  font-family: "Open Sans";
  text-align: justify;
  line-height: 2;
}
.project .project-staks {
  margin-bottom: 5px;
}
.project .project-button {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  padding: 8px 10px;
  border: 1px solid white;
  border-radius: 3px;
}
.project .acess:hover {
  background-color: #4dff91;
  transition: all 0.2s ease;
}
.project .repository:hover {
  color: black;
  background-color: white;
  transition: all 0.2s ease;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

#contact-title {
  font-size: 1.5em;
  font-family: "Open Sans";
  color: #4dff91;
  align-self: start;
  padding: 15px;
}

#animation-start-background {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  background-color: #0C090D;
  border-radius: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
}

#animation-start-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  color: #4dff91;
  opacity: 0;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 850px) {
  @keyframes growth {
    from {
      width: 0vw;
      height: 0vw;
    }
    to {
      width: 120vw;
      height: 120vw;
    }
  }
  @keyframes textToApear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes toVanishDiv {
    from {
      opacity: 1;
      width: 120vw;
      height: 120vw;
    }
    to {
      opacity: 0;
      width: 120vw;
      height: 120vw;
    }
  }
  @keyframes toVanishText {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
@media screen and (max-width: 850px) {
  @keyframes growth {
    from {
      width: 0vh;
      height: 0vh;
    }
    to {
      width: 190vh;
      height: 190vh;
    }
  }
  @keyframes textToApear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes toVanishDiv {
    from {
      opacity: 1;
      width: 190vh;
      height: 190vh;
    }
    to {
      opacity: 0;
      width: 190vh;
      height: 190vh;
    }
  }
  @keyframes toVanishText {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  #animation-start-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 330px) {
  #name {
    font-size: 12px;
    font-family: "Open Sans";
    color: white;
    padding: 10px;
  }
  #name span {
    font-size: 16px;
    font-family: "Open Sans";
    color: #3DCC74;
  }
  #hard-skills-cards .hard-skills-card span {
    text-align: left;
    padding: 0px;
  }
}
@media screen and (min-height: 1200px) {
  #name {
    font-size: 30px;
  }
  #name span {
    font-size: 52px;
  }
}

/*# sourceMappingURL=style.css.map */
